# Disable script execution inside uploads directory
<FilesMatch "\.(?i:php|php3|php4|php5|php7|phtml|pl|py|jsp|asp|htm|html|shtml|sh|cgi)$">
    Require all denied
</FilesMatch>

# Turn off PHP engine if mod_php is loaded
<IfModule mod_php7.c>
    php_flag engine off
</IfModule>
<IfModule mod_php.c>
    php_flag engine off
</IfModule>